html{
    scroll-behavior: smooth;
}

.split{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left{
    left: 0;
    align-items: center;
}

.name{
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 48px;
    margin-bottom: 0px;
    margin-left: 200px;
}

.desc{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0px;
    margin-bottom: 80px;
    margin-left: 205px;
}

.opt{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 270px;
}

.bottom-left{
    margin-top: 80px;
}

.img-footer1{
    margin-left: 202px;
}

.img-footer2{
    margin-left: 8px;
}

.img-footer3{
    margin-left: 5px;
}

.right{
    right: 0;
    padding-top: 48px;
}

.right-inner{
    padding-right: 200px;
    padding-bottom: 90px;
}

.about-desc1{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin-bottom: 20px;
}

.about-desc{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin-bottom: 80px;
}

.education{
    margin-bottom: 80px;
}

.list-year{
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    margin-bottom: 5px;
}

.list-name{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

.list-desc{
    font-size: 16.3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    margin-bottom: 30px;
    text-align: justify;
}

.experience{
    margin-bottom: 80px;
}

.list-desc1{
    font-size: 16.3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    text-align: justify;
}

.volunteer{
    margin-bottom: 80px;
}

.project{
    margin-bottom: 80px;
}

.certification{
    margin-bottom: 80px;
}

.work{
    margin-bottom: 80px;
}

/* Media Queries */

/* For screens with a maximum width of 768px (e.g., tablets) */
@media only screen and (max-width: 768px){
    .split{
        width: 100%;
        position: relative;
    }

    .left{
        left: 0;
        width: 100%;
    }
    
    .right{
        right: 0;
        width: 100%;
        padding-top: 0;
    }

    .right-inner{
        padding-right: 0;
        padding-bottom: 0;
    }

    .name{
        font-size: 50px;
        margin-left: 20px;
    }

    .desc{
        font-size: 20px;
        margin-left: 25px;
    }

    .opt{
        font-size: 14px;
        margin-left: 20px;
    }

    .about-desc{
        font-size: 18px;
    }

    .list-year{
        font-size: 12px;
    }

    .list-name{
        font-size: 18px;
    }

    .list-desc{
        font-size: 14px;
    }

    .list-desc1{
        font-size: 14px;
    }
}
  
/* For screens with a maximum width of 480px (e.g., mobile phones) */
@media only screen and (max-width: 480px){
    .split{
        width: 100%;
        position: relative;
    }

    .left{
        left: 0;
        width: 100%;
    }

    .right{
        right: 0;
        width : 100%;
        padding-top: 0;
    }

    .right-inner{
        padding-right: 0;
        padding-bottom: 0;
    }

    .name{
        font-size: 30px;
        margin-left: 10px;
    }

    .desc{
        font-size: 16px;
        margin-left: 15px;
    }

    .opt{
        font-size: 12px;
        margin-left: 10px;
    }

    .about-desc{
        font-size: 14px;
    }

    .list-year{
        font-size: 10px;
    }

    .list-name{
        font-size: 14px;
    }

    .list-desc{
        font-size: 12px;
    }

    .list-desc1{
        font-size: 12px;
    }
}